body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 16px;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.theme-showcase .navbar .container {
  width: auto;
}

/**************************** Sign In Page CSS *************************************/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 15px;
}
/***********************************************************************************/

/********************************* Navbar CSS  *************************************/
.navbar-inverse {
    background-image: linear-gradient(to bottom, #68AAAA 0%, #558C89 100%);
    border-color: #505050;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #D9853B;
  background-color: transparent;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #D9853B;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #FF0000; /* Doesn't seem to change anything */
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222 0%, #282828 100%);
  background-image:      -o-linear-gradient(top, #222 0%, #282828 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#282828));
  background-image:         linear-gradient(to bottom, #555 0%, #777 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
 }
/***********************************************************************************/

/*Formatting for NOTES: */
.note {
  color: #D9853B;
}

/*Jumbotron with smaller padding.*/
.jumbotron-small {
  padding: 10px 40px 10px 40px;
}

/*Jumbotron with centered text*/
.jumbotron-center {
  text-align: center;
}

hr {
  border-width: 2px 0 0;
}

/**************** Formatting for labels on forms. **********************************
Curious if there's a better way to do this. forms: register, add item, add group,
accept/reject borrow and join group requests.*/

/*Allows form input fields to autosize for width only.*/
input, select, textarea {
  width: 280px;
  max-width: 100%;
}
label {
    min-width: 150px;
}
#id_accept, #id_reject, #id_accept_request, #id_reject_request {
  margin-right: 15px;
}
#id_accept {
  margin-left: -85px;
} 
#id_reject {
  margin-left: -90px;
}
#id_accept_request {
  margin-left: -25px;
}
#id_reject_request {
  margin-left: -30px;
}
/***********************************************************************************/

/******** Formatting for images ****************************************************/
/*Allows images to autosize proportionally.*/
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
.img_item {
  float: right;
  margin: 10px 0px 10px 10px; 
  width: 250px;
}
.img_item_thumb {
  margin: 0px 10px 10px 0px; 
  width: 65px;
  height: 65px;
}
.img_group {
  float: right;
  margin: 10px 0px 10px 10px; 
  width: 250px;
}


/********************** Sticky Footer based on modification of
http://stackoverflow.com/questions/17966140/twitter-bootstrap-3-sticky-footer?rq=1*/

html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  /* Negative indent footer by it's height */
  margin: 0 auto -155px;
  padding: 0 0 155px;
  overflow:auto;
}

/* Set the fixed height of the footer here */
#footer {
  height: 155px;
  color: #BEBEBE;
  background-color: #444;
  border-top-color: #FFF;
  border-top-style: solid;
  border-top-width: 25px;
}
.footer-inner {
  margin-top: 30px;
}
.footer-inner i {
  font-size: 24px;
}
.footer-inner .fa-envelope {
  font-size: 18px;
}
.footer-inner p {
  font-size: 12px;
}
.footer-inner ul {
  width: 100%;
  text-align: center;
} 
.footer-inner li {
  display: inline-block;
  list-style: none;
  margin-right: 50px;
}
.footer-inner .social{
  margin-top: 15px;
  margin-bottom: 10px;
}
.social a:link, .social a:visited {
  color: #BEBEBE;
}

@media only screen and (max-width: 420px) {
  .footer-inner {
    margin-top: 25px;
  }
  .footer-inner ul {
    padding: 0px;
    margin-left: 30px;
  }
  .footer-inner .social{
    margin-bottom: 10px;
  } 
}

@media only screen and (max-width: 380px) {
  .footer-inner ul {
    margin-left: 10px;
  }
  .footer-inner li {
    margin-right: 25px;
  }
  .footer-inner p {
    text-align: center;
  }
}
/***************************************************************************************/

/*Link hover boxes. Experimental*/
#pup {
  position:absolute;
  z-index:200; /* always on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: -20px;
  width: 250px;
  border: 1px solid gray;
  background-color: #eee;
  color: black;
  font-size: 14px;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
}


/***************************************************************************************/

/*.btn-primary {
    background-image: linear-gradient(to bottom, #F79B4A 0%, #D9853B 100%);
    background-repeat: repeat-x;
    border-color: CC7D37;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
}*/

/*###### Button Primary ### NONE OF THESE WORK
.btn-primary {
    background-image: linear-gradient(to bottom, #F79B4A 0%, #D9853B 100%);
    background-repeat: repeat-x;
    border-color: #CC7D37;
}


.btn btn-primary  {
    background-image: linear-gradient(to bottom, #F79B4A 0%, #D9853B 100%);
    background-repeat: repeat-x;
    border-color: #CC7D37;
}*/


/*.btn-custom {
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}

.btn-custom {
  .button-variant(blue; red; green);
}*/
  