body {
  padding-top: 40px; /*Changed from 70 to 40 to accomodate top banner.  Then add margin-top:30px to .jumbotron*/
  padding-bottom: 30px;
  font-size: 16px;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.theme-showcase .navbar .container {
  width: auto;
}
.jumbotron {
  margin-top: 30px;
}
a:visited {
  color: #9242CA;
}

/**************************** Sign In Page CSS *************************************/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 15px;
}
/***********************************************************************************/

/********************************* Navbar CSS  *************************************/
.navbar-inverse {
    background-image: linear-gradient(to bottom, #68AAAA 0%, #558C89 100%);
    border-color: #505050;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #D9853B;
  background-color: transparent;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #D9853B;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #FF0000; /* Doesn't seem to change anything */
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222 0%, #282828 100%);
  background-image:      -o-linear-gradient(top, #222 0%, #282828 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#282828));
  background-image:         linear-gradient(to bottom, #555 0%, #777 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
 }
/***********************************************************************************/

/*Formatting for NOTES: */
.note {
  color: #D9853B;
}

/*Jumbotron with smaller padding.*/
.jumbotron-small {
  padding: 10px 40px 10px 40px;
}

/*Jumbotron with centered text*/
.jumbotron-center {
  text-align: center;
}

hr {
  border-width: 2px 0 0;
}

/**************** Formatting for labels on forms. **********************************
Curious if there's a better way to do this. forms: register, add item, add group,
accept/reject borrow and join group requests.*/

/*Allows form input fields to autosize for width only.*/
input, select, textarea {
  width: 280px;
  max-width: 100%;
}

label {
  min-width: 150px;
}

#id_accept {
  margin-left: -85px;
  margin-right: 15px;
  width: auto;
}
#id_reject {
  margin-left: -90px;
  margin-right: 15px;
  width: auto;
}
#id_accept_request {
  margin-left: -25px;
  margin-right: 15px;
    width: auto;
}
#id_reject_request {
  margin-left: -30px;
  margin-right: 15px;
  width: auto;
}
/*Fix text below "Profile picture on mobile phones"*/
#id_profile_picture {
  padding-top: 5px;
  margin-bottom: 20px;
}
/***********************************************************************************/

/*Allows images to autosize proportionally.*/
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
.img_item {
  float: right;
  margin: 10px 0px 10px 10px; 
  width: 250px;
}
.img_item_thumb {
  margin: 0px 10px 10px 0px; 
  width: 65px;
  height: 65px;
}
.img_group {
  float: right;
  margin: 10px 0px 10px 10px; 
  width: 250px;
}

/********************** Sticky Footer based on modification of
http://stackoverflow.com/questions/17966140/twitter-bootstrap-3-sticky-footer?rq=1*/

html, body {
  height: 100%;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  /* Negative indent footer by it's height */
  margin: 0 auto -155px;
  padding: 0 0 155px;
  overflow:auto;
}

/* Set the fixed height of the footer here */
#footer {
  height: 155px;
  color: #BEBEBE;
  background-color: #444;
  border-top-color: #FFF;
  border-top-style: solid;
  border-top-width: 25px;
}
.footer-inner {
  margin-top: 30px;
}
.footer-inner i {
  font-size: 24px;
}
.footer-inner .fa-envelope {
  font-size: 18px;
}
.footer-inner p {
  font-size: 12px;
}
.footer-inner ul {
  width: 100%;
  text-align: center;
} 
.footer-inner li {
  display: inline-block;
  list-style: none;
  margin-right: 50px;
}
.footer-inner .social{
  margin-top: 15px;
  margin-bottom: 10px;
}
.footer-inner a:visited {
  color: #428BCA;
}
.social a:link, .social a:visited {
  color: #BEBEBE;
}
.social a:hover {
  color: #428BCA;
}

@media only screen and (max-width: 424px) {
  .footer-inner {
    margin-top: 25px;
  }
  .footer-inner ul {
    padding: 0px;
    margin-left: 30px;
  }
  .footer-inner .social{
    margin-bottom: 10px;
  } 
}

@media only screen and (max-width: 384px) {
  .footer-inner ul {
    margin-left: 10px;
  }
  .footer-inner li {
    margin-right: 25px;
  }
  .footer-inner p {
    text-align: center;
  }
}
/***************************************************************************************/

/********* How it works- About Page **************************************************/
#wrapper {
  width: auto;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 20px;
  overflow: hidden; /*Needed to keep divs on separate lines*/
}

/*TO DO: ADD WEBKIt linear-gradient*/
.number {
  /*display: inline-block;*/
  line-height: 30px;
  background-color: #558C89;
  background-image: linear-gradient(to bottom, #68AAAA 0%, #558C89 100%);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  width:30px;
  height: 30px;
  color:#FFF;
  font-weight: bold;
  text-align: center;
}
.inner-text {
  margin-left: 10px;
  font-size: 20px;
  position: relative;
  top: 0px;
}
#left-column, #right-column {
  float: left;
  /*min-height: 50px;*/
}
#right-column {
  width: 85%;
}
/***************************************************************************************/

/***************************************************************************************/
/*Full width image for, e.g, top banner*/
.widewrapper {
  width:100%;
  margin-bottom: 20px;
}
.widewrapper > img {
  width:100%;
}
/***************************************************************************************/

a.btn { /*Needed to keep button text from changing color when visited*/
  color:#FFF;
}


/************* screen shot images with text Version 2 **************************************/
.project-img img, .project-img-r img {
  border: 3px solid #DDD;
}

.project-img, .project-img-r {
  display: inline-block;
  margin-right: 30px;
  margin-top: 20px;
  width: 425px;
  max-width: 100%;  
}

.project-img-r, .project-img-r img {
  height: 313px;
  margin-right: 0px;
}

.project-name {
  margin-top: -4px;
  background-color: #EEE;
  padding: 15px;
}