body {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 16px;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.theme-showcase .navbar .container {
  width: auto;
}

/**************************** Sign In Page CSS *************************************/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 15px;
}
/***********************************************************************************/

/********************************* Navbar CSS  *************************************/
.navbar-inverse {
    background-image: linear-gradient(to bottom, #68AAAA 0%, #558C89 100%);
    border-color: #505050;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #D9853B;
  background-color: transparent;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #D9853B;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #FF0000; /* Doesn't seem to change anything */
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222 0%, #282828 100%);
  background-image:      -o-linear-gradient(top, #222 0%, #282828 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#282828));
  background-image:         linear-gradient(to bottom, #555 0%, #777 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
 }
/***********************************************************************************/

/*Formatting for NOTES: */
.note {
  color: #D9853B;
}

/*Jumbotron with smaller padding.*/
.jumbotron-small {
  padding: 10px 40px 10px 40px;
}

/*Jumbotron with centered text*/
.jumbotron-center {
  text-align: center;
}

hr {
  border-width: 2px 0 0;
}

/**************** Formatting for labels on forms. **********************************
Curious if there's a better way to do this. forms: register, add item, add group,
accept/reject borrow and join group requests.*/
label {
    min-width: 150px;
}
#id_accept {
  margin-left: -85px;
  margin-right: 15px;
}
#id_reject {
  margin-left: -90px;
  margin-right: 15px;
}
#id_accept_request {
  margin-left: -25px;
  margin-right: 15px;
}
#id_reject_request {
  margin-left: -30px;
  margin-right: 15px;
}
/***********************************************************************************/

/*.btn-primary {
    background-image: linear-gradient(to bottom, #F79B4A 0%, #D9853B 100%);
    background-repeat: repeat-x;
    border-color: CC7D37;
}

.btn-default, .btn-primary, .btn-success, .btn-info, .btn-warning, .btn-danger {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.075);
}*/

/*###### Button Primary ### NONE OF THESE WORK
.btn-primary {
    background-image: linear-gradient(to bottom, #F79B4A 0%, #D9853B 100%);
    background-repeat: repeat-x;
    border-color: #CC7D37;
}


.btn btn-primary  {
    background-image: linear-gradient(to bottom, #F79B4A 0%, #D9853B 100%);
    background-repeat: repeat-x;
    border-color: #CC7D37;
}*/


/*.btn-custom {
  .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
}

.btn-custom {
  .button-variant(blue; red; green);
}*/
  