body {
  padding-top: 70px;
  padding-bottom: 30px;
}
.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}
.theme-showcase > p > .btn {
  margin: 5px 0;
}
.theme-showcase .navbar .container {
  width: auto;
}

/*########### Sign In Page CSS ##################*/
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: 5px;
}
.form-signin input[type="password"] {
  margin-bottom: 15px;
}
/*################## END #################*/

/*############ Navbar CSS  ###############*/
.navbar-inverse {
    background-image: linear-gradient(to bottom, #68AAAA 0%, #558C89 100%);
    border-color: #505050;
}
.navbar-inverse .navbar-brand {
    color: #FFF;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #D9853B;
  background-color: transparent;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
}
.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
  color: #D9853B;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FFF;
  background-color: #FF0000; /* Doesn't seem to change anything */
}
.navbar-inverse .navbar-nav > .active > a {
  background-image: -webkit-linear-gradient(top, #222 0%, #282828 100%);
  background-image:      -o-linear-gradient(top, #222 0%, #282828 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#222), to(#282828));
  background-image:         linear-gradient(to bottom, #555 0%, #777 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff282828', GradientType=0);
  background-repeat: repeat-x;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
          box-shadow: inset 0 3px 9px rgba(0, 0, 0, .25);
/*################ End ##################*/
