{% extends 'base.html' %}

{% block title %} How It Works {% endblock %}

{% block body_block %}

<div class= "jumbotron jumbotron-small">
  <h2>Getting Started with Share Stuff Is Easy</h2>
</div>
<div id="wrapper">
  <div id="left-column">
    <div class = "number">
      <p>1</p>
    </div>
  </div>
  <div id="right-column">
    <p class= "inner-text">Sign Up for a free member account. <a class="btn btn-sm btn-success" href="/sharing/register/">Sign Up</button></a></p>
  </div>
</div>
<div id="wrapper">
  <div id="left-column">
    <div class = "number">
      <p>2</p>
    </div>
  </div>
  <div id="right-column">
    <p class= "inner-text"><a href="/sharing/groups/">Join</a> an existing Sharing Group. Or <a href="/sharing/add_group/">create</a> your own Sharing Group.</p>
  </div>
</div>
<div id="wrapper">
  <div id="left-column">
    <div class = "number">
      <p>3</p>
    </div>
  </div>
  <div id="right-column">
    <p class= "inner-text">Have items to lend? Simply <a href="/sharing/add_item/">add items</a> that you'd like to share. You'll receive a notification if someone wants to borrow an item. You then have the option of accepting or declining the borrow request. See below for member's page examples.</p>
  </div>
</div>
<div id="wrapper">
  <div id="left-column">
    <div class = "number">
      <p>4</p>
    </div>
  </div>
  <div id="right-column">
    <p class= "inner-text">Want to borrow an item? Browse your group's items and click the borrow button next to the item. The item's owner will be alerted and will then either accept or decline your request. If they accept, you'll work out the details of the pickup time, date, and location, etc via phone, text, or email. see below for member's page examples</p>
  </div>
</div>
<hr>
<br>
<div class= "jumbotron jumbotron-small">
<h3>Member's Page Examples</h3>
</div>
<div class="project-img">
  <img src="{{ STATIC_URL }}media/screen_items_borrow.jpg" alt= "screen shot of Items to Borrow"/>
  <p class="project-name">Member's page showing a borrow request alert and a list of items available to borrow.</p>
</div>
<div class="project-img-r">
  <img src="{{ STATIC_URL }}media/screen_items_lend.jpg" alt= "screen shot of Items to Lend"/>
  <p class="project-name">Member's page showing list of items available to lend to others.</p>
</div>
<br>
<hr>
<br>
<div class= "jumbotron jumbotron-small">
<h3>Available Sharing Groups</h3>
</div>
<div class="row">
  <div class='col-md-8'>
    <ul class="list-group">
      {% if groups %}
      {% for group in groups %}
      <li class="list-group-item" style='min-height: 40px'>
        <a href="/sharing/groups/group_info/{{ group.id }}">{{ group.name }}</a> 
      </li>
      {% endfor %}
      {% endif %} 
    </ul>
  </div>
</div> 
{% endblock %}