{% extends 'base.html' %}

{% block title %} About {% endblock %}

{% block body_block %}
<div class='jumbotron jumbotron-center'>
  <h1>About Share Stuff</h1>
  <p>My first Web App created with Django.</p>
</div>

<p>This web app was my student project for the <a href="http://pdxcodeguild.com">PDX Code Guild</a>. I had so  much fun, and moments of maddening frustration, creating this project in Python and Django. I couldn't have done it without the generous help of <a href="https://www.linkedin.com/in/chrisfreemanpdx">Chris Freeman</a>, <a href="https://www.linkedin.com/in/chrischarlesjones">Chris Jones</a>, and <a href="https://www.linkedin.com/pub/ben-kulp/30/181/247">Ben Kulp</a>.  Thanks guys!</p>

<p>This is a work in progress so I'll continue to improve this app and add features.</p>
<br>

<a href="https://github.com/Pat-Martinez/share_stuff"><img src="{{ STATIC_URL }}/media/github-mark-64px.png" alt='GitHub icon'></a> To view the code, visit my <a href="https://github.com/Pat-Martinez/share_stuff">GitHub</a> account.

<hr>

<h3>SAMPLE MEMBER ACCOUNTS</h3>
<p><a href="/sharing/register">Register</a> as a member and add items to share or create a sharing group. Alternatively, check out the sample accounts below. These sample accounts demonstrate how the home page dynamically changes depending upon the number of borrow requests, if a member belongs to a sharing group, etc.</p>

<p>Of course these accounts may change if someone logs in and adds/deletes items or accepts/rejects borrow or join requests.  I'll periodically check back and update these accounts.</p>
  <ul>
    <li><b>Username</b>: sample_1, <b>Password</b>: letstrythis, 
      <br><b>Comments</b>: Bruno Sample has 3 items, 2 borrow requests and 2 join requests. He's the Moderator of the West Side Coders group.</li>
      <br>
    <li><b>Username</b>: sample_2, <b>Password</b>: letstrythis, 
      <br><b>Comments</b>: Ursula Sample has 2 items and 1 borrow request. She's a member of the West Side Coders Group.</li>
      <br>
    <li><b>Username</b>: sample_3, <b>Password</b>: letstrythis, 
      <br><b>Comments</b>: Zeus Sample has 1 item and does not belong to any groups.</li>
  </ul>  
<br>

<h3>AVAILABLE SHARING GROUPS</h3>
<div class="row">
  <div class='col-md-8'>
    <ul class="list-group">
      {% if groups %}
      {% for group in groups %}
      <li class="list-group-item" style='min-height: 40px'>
        <a href="/groups/group_info/{{ group.id }}">{{ group.name }}</a> 
      </li>
      {% endfor %}
      {% endif %}
    </ul>
  </div>
</div> 
<br>

<h3>FUTURE FEATURES</h3>
<ul>
  <li>Enable borrow button to work.</li>
  <li>Enable group join request button to work</li>
  <li>Enable moderator to remove a member from their group.</li>
  <li>Enable member to edit one of their items.</li>
  <li>Enable member to see a list of items they've borrowed.</li>
  <li>Enable member to see a list of their items that are on loan.</li>
  <li>Enable the ability to search for items.</li>
  <li>Enable email messages to be sent for things like a member has received a borrow request or their borrow request has been accepted or rejected.</li>
  <li>Enable an editable profile page for members.</li>
  <li>Enable a javascript popup that asks a member to confirm their decision when they click the delete item button.</li>
</ul>
<br>

<h3>BUGS</h3>
<ul>
<li>When a member joins more than one group all sorts of craziness can occur on the member page (home page).
<li>File validation of image files (item images, group images, profile images) hasn't been included, thus non-image files can be uploaded. Also need to set a file size limit.</li>
<li>Zip code validation hasn't been included on the registration page, thus invalid zipcodes can be added.</li>
<li>Help me squash bugs! If you find one, I'd greatly appreciate it if you notify me at <a href="mailto:martijam123-share...yahoo(dot)com">martijam123-share ... yahoo dot com</a></li>
</li>
</ul>

<hr>

<div class=note>
  <h4>Send comments and suggestions to <a href="mailto:martijam123-share...yahoo(dot)com">martijam123-share ... yahoo dot com</a>
  </h4>
</div>

{% endblock %}
