{% extends 'base.html' %}
{% block title %} Add Item {% endblock %}

<!-- ### Insert "success" message from view & base.html ### -->

{% block body_block %}
  <div class="jumbotron jumbotron-small">
    <h1>Add an Item <small>to share</small></h1>
  </div>

  <div class='jumbotron'>
    <form class="form-horizontal"  id="item_form" method="post" action="/sharing/add_item/"
		enctype="multipart/form-data" role="form" >
    {% csrf_token %}
    
    {{ item_form.as_p }}
      <button class="btn btn-md btn-primary" type="submit">Add Item</button>
    </form>
  </div>
{% endblock %}
