{% extends 'base.html' %}
{% block title %} Add Group {% endblock %}

<!-- ### Insert "success" message from view & base.html ### -->

{% block body_block %}

{% if group_added %}
    <div class="alert alert-success" role="alert">Your group "{{ group }}" was added successfully.
    </div>

{% else %}
	
	<div class='jumbotron'>
	    <div class="container">
			<h1>Create a Group</h1>
			<br>
			<form class= "form-horizontal" id="group_form" method="post" action="/sharing/add_group/"
				enctype="multipart/form-data" >

				{% csrf_token %}
				{{ group_form.as_p}}

				<button class="btn btn-md btn-primary" type="submit">Create Group</button>
			</form>
	</div>
	    </div>
		
{% endif %}
{% endblock %}