<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- I had to move this from end to the head section for it to work properly for some scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>      

    <!-- Bootstrap core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet"> -->

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- <link href="{% static 'css/bootstrap-theme.css' %}" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="{% static 'css/share_stuff.css' %}" rel="stylesheet">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55827110-1', 'auto');
      ga('send', 'pageview');
    </script>

    <!-- script to make it harder for webcrawlers to harvest email. For example, <a href="mailto:foo...example(dot)com">foo ... example dot com</a> will become
    <a href="mailto:foo@example.com">foo@example.com</a>-->
    <script>
      $(function() {
      $('a[href^="mailto:"]').each(function() {
      this.href = this.href.replace('...', '@').replace(/\(dot\)/g, '.');
      // Remove this line if you don't want to set the email address as link text:
      this.innerHTML = this.href.replace('mailto:', '');
      });
      });
    </script>

    <title>Share Stuff -  {% block title %} {% endblock %} </title>
  </head>

<!-- ##################### 1st Bootstrap addition ####################### -->
  <body role="document">
    
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/sharing/">Share Stuff!</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="{% if navbar == 'home' %} active {% endif %}"><a href="/sharing/">Home</a></li>
            <li class="{% if navbar == 'about' %} active {% endif %}"><a href="/sharing/about/">About</a></li>
            {% if user.is_authenticated %}
              <li class="{% if navbar == 'add_item' %} active {% endif %}"><a href="/sharing/add_item/">Add an Item</a></li>
            {% endif %}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a href="/sharing/sign_out/">Sign Out</a></li>
            {% else %}
              <li class="{% if navbar == 'register' %} active {% endif %}"><a href="/sharing/register/">Register</a></li>
              <li class="{% if navbar == 'sign_in' %} active {% endif %}"><a href="/sharing/sign_in/">Sign In</a></li>
            {% endif %}     
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
<!-- ######################### END 1st ############################ -->

<!-- ########## Messages (Success, Error, etc.) ################## -->
<div class="container theme-showcase" role="main">
  <div class="row">
    <div class="col-md-12">
          <ul class="messages">
              {% for message in messages %}
              
              {% if 'success' in message.tags %} 
              <div class="alert alert-success" role="alert">
                {{ message }}
              </div>
              {% endif %}
              
              {% if 'error' in message.tags %} 
              <div class="alert alert-danger" role="alert">
                {{ message }}
              </div>
              {% endif %} 

              {% endfor %} 
          </ul>
   </div>
  </div>
<!-- ########################################## -->

<!-- ##################### 2nd Bootstrap addition ####################### -->
      <div class="row">
        <div class="col-md-12">
          {% block body_block %}

          {% endblock %}
        </div>
      </div>
    </div> <!-- /container -->

<!-- ######################### END 2nd ################################## -->
<hr>
    <!-- Bootstrap core JavaScript
    ==================================================
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

<!--Wasn't working properly with jquery 2.1.1.
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script> --> 

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    </body>
</html>

