{% extends 'base.html' %}
{% block title %} Borrow Request {% endblock %}

<!-- ### see borrow_requests_process view and base.html for "error" messages  ### -->

{% block body_block %}

    {% if requests_pending %}
      <div class= "jumbotron jumbotron-small">
        <h2>Pending borrow requests</h2>
    </div>
        <ul>
            {% for req in requests_pending %}
            <li>{{ req.borrower }} wants to borrow your {{ req.item }}
                <br>
                Request date: {{ req.request_date|date }}
                <form method="post" action="/sharing/borrow_requests/process/{{ req.id }}/">
                {{ borrow_request_form }}
                {% csrf_token %}
                <input type="submit" name="submit" value="Submit"></input> <br><br>
                </form>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <strong>You have no Pending Borrow Requests.</strong>
    {% endif %}

    {% if requests_completed %}
      <div class= "jumbotron jumbotron-small">
        <h2>Completed borrow requests</h2>
      </div>
        
        <ul>
            {% for req in requests_completed %}
            <li>{{ req.borrower }} - 
                {% if req.accept_request %} Accepted
                {% else %} Rejected
                {% endif %}
                on {{ req.action_date|date }} <!-- |date gives date only rather than date & time. -->
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}




