{% extends 'base.html' %}
{% block title %} Borrow Request {% endblock %}

<!-- ### see borrow_requests_process view and base.html for "error" messages  ### -->

{% block body_block %}

    {% if requests_pending %}
    <div class= "jumbotron jumbotron-small">
        <h2>Pending borrow requests</h2>
    </div>
        <ul>
            {% for req in requests_pending %}
            <li>{{ req.borrower.user.first_name }} {{ req.borrower.user.last_name }} ({{ req.borrower.user.username }}) wants to borrow your {{ req.item.name }}
                <br>
                Request date: {{ req.request_date|date }}
                <form method="post" action="/sharing/borrow_requests/process/{{ req.id }}/">
                {{ borrow_request_form|ljust:'30' }}
                {% csrf_token %}
                <button class="btn btn-xs btn-primary" type="submit">Submit</button>
                </form>
                <br>
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <div class= "jumbotron jumbotron-small">
        <h2>Pending borrow requests</h2>
    </div>
      <ul>
        <li>You have no Pending Borrow Requests.</li>
      </ul>
      <br>
      <br>
    {% endif %}

    {% if requests_completed %}
      <div class= "jumbotron jumbotron-small">
        <h2>Completed borrow requests</h2>
      </div>
        
        <ul>
            {% for req in requests_completed %}
            <li>{{ req.borrower.user.first_name }} {{ req.borrower.user.last_name }} ({{ req.borrower.user.username }})- 
                {% if req.accept_request %} Accepted
                {% else %} Rejected
                {% endif %}
                on {{ req.action_date|date }} <!-- |date gives date only rather than date & time. -->
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
