{% extends 'base.html' %}
{% block title %} Group Info {% endblock %}

{% block body_block %}

  <div class='jumbotron'>
    {% if group %}
        <h2>{{ group.name }} </h2>
        <hr>
        <p>Description: {{ group.description }} {% if group.group_picture %} <img class="img_group" src="{{ STATIC_URL }}media/{{ group.group_picture }}" alt="Group Picture"></p>
        {% endif %}
        
        <p>Moderator: {{ group.moderator }}</p>
        
        <p>Interested in joining this Group? Typically you must know a group member to join.
        However, even if you don't know a member, you can still submit a join request. In this case, the 
        moderator will usually request to meet with you first before accepting you as a group member.</p>
        
        <p>Request to <a href="/sharing/under_construction/#join_requests">join this group.</a></p>   
    {% endif %}

  </div>

{% endblock %}



