{% extends 'base.html' %}
{% block title %} Your Inventory {% endblock %}
	
{% block body_block %}

<h1>Your Inventory</h1>

{% if items %}
  <ul>
		{% for item in items %}
    <li>{{ item.name }}: {{ item.description }}<br>
      <img src="/media/{{ item.photo }}"/>

      <button class="btn btn-xs btn-primary" type="button" onClick='parent.location= "/sharing/inventory/delete_item/{{ item.id }}/"' 
              value="Delete">Delete</button>
    </li>
		{% endfor %}
	</ul>

{% else %}
	<strong>You have no items.</strong>
{% endif %}
  <br>

{% endblock%}

 <input type='button' onClick='parent.location= "/sharing/inventory/delete_item/{{ item.id }}/"' 
    value="Delete"> <br><br>