{% extends 'base.html' %}
{% block title %} Item Info {% endblock %}

{% block body_block %}

<div class='jumbotron'>
  <div class='container'>
    {% if item %}
      <h2>{{ item.name }} {% if item.photo %} <img src="media/{{ item.photo }}" alt="Item Photo" style="float: right; padding: 10px 0px 10px 0px; height: 250px;">
      {% endif %}</h2> 
      <p>Description: {{ item.description }}</p>
      <p>Category: {{ item.get_category_display }}</p>
      
      <div class='note'><p>NOTE: Currently unable to edit item details. However, the delete function works.</p>
      </div>

      <button class="btn btn-sm btn-danger" type="button" onClick='parent.location= "/sharing/inventory/delete_item/{{ item.id }}/"' 
      value="Delete">Delete</button>
    {% endif %}
  </div>
</div>  

{% endblock %}
