{% extends 'base.html' %}
{% block title %} Join Requests {% endblock %}

<!-- ### see join_requests_process view and base.html for "error" messages  ### -->

{% block body_block %}

     {% if requests_pending %}
       <div class= "jumbotron jumbotron-small">
       <h2>Pending join requests</h2>
       </div>
        <ul>
            {% for req in requests_pending %}
            <li>{{ req.requestor.user.first_name }} {{ req.requestor.user.last_name }} ({{ req.requestor.user.username }}) wants to join your group.
            <br> Request Date: {{ req.request_date|date }}
                <form method="post" action="/sharing/join_requests/process/{{ req.id }}/">
                {{ accept_request_form }}
                {% csrf_token %}
                <button class="btn btn-xs btn-primary" type="submit">Submit</button>
                </form>
                <br>
            </li>
            {% endfor %}
        </ul>
    {% else %}
        <div class= "jumbotron jumbotron-small">
          <h2>Pending borrow requests</h2>
        </div>
        <ul>
          <li>You have no Pending Join Requests.</li>
        </ul>
        <br>
        <br>
    {% endif %}

    {% if requests_completed %}
       <div class= "jumbotron jumbotron-small">
       <h2>Completed join requests</h2>
        </div>
        <ul>
            {% for req in requests_completed %}
            <li>{{ req.requestor.user.first_name }} {{ req.requestor.user.last_name }} ({{ req.requestor.user.username }}) - 
                {% if req.accept %} Accepted
                {% else %} Rejected
                {% endif %}
                on {{ req.action_date|date }}
            </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}
