{% extends 'base.html' %}

{% block title %} Under Construction {% endblock %}

{% block body_block %}
<h3>BORROW REQUESTS</h3>
<p>Currently, borrow requests can only be done via the admin panel (see the screen shot below). Making the 'Borrow' button functional for members is a high priority on my "To Do" list.</p>
<hr>
<br>
<img src="{{ STATIC_URL }}/media/admin_borrow_req.png" alt='Screen shot of admin panel for a borrow request.'>
<br>
<br>
<br id="join_requests">
<br>
<hr>
<h3 >JOIN REQUESTS</h3>
<p>Currently, join requests can only be done via the admin panel (see the screen shot below). Making the "Join Request" feature functional for members is a high priority on my "To Do" list.</p>
<br>
<br>
<img src="{{ STATIC_URL }}/media/admin_join_req.png" alt='Screen shot of admin panel for a join request.'>
{% endblock %}
